
.item{
    margin-bottom: 8px;
  }
.custom {
  width: 100%;
  height: 100vh;
  background-color: #23a6d5;
}

.customList{
    height:50vh ;  
    overflow:auto ; 
    overflow-y:auto ;
}

.custom {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease-in-out infinite;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}